
.is-drilldown-submenu {
	background: #000000
}

.menu .active > a { background: #FFFFFF; color: #FFFFFF; }

.title-bar-text:hover {
  color: #00ff00
}

.tg {
  border-collapse:collapse;
  border-spacing:0;
  font-size:14px;
}

.tg th {
  border-width:1px;
  border-style:solid;
  background-color: #ffffc7;
  padding:2px 5px 2px 5px;
}

.tg td {
  border-width:1px;
  border-style:solid;
  padding:2px 5px 2px 5px;
}

.es {
  border-collapse:collapse;
  border-spacing:0;
  font-size:14px;
}

.es th {
  border-width:1px;
  border-style:solid;
  background-color:#8b0a50;
  color:#ffffff;
  padding:2px 5px 2px 5px;
}

.es td {
  border-width:1px;
  border-style:solid;
  padding:2px 5px 2px 5px;
}

.donotwrap {
  white-space:nowrap;
}

.tr cabinschedule {
  font-size:18px;
}

.title-bar {
  font-size:14px;
}
